{% load poll_extras %}

{# создание поля с информацией о статусе задачи #}
{% if "_meta"|my_ha:item %}
    {% my_e "item._meta.model.objects.filter(id=item.id).first()" as item %}
    {% my_s "Срок " item.days_plan.days|default:0 item.days_plan.days|my_ds:" день, дня, дней" as temp %}

    {% if item.date_end %}
        <span class="badge bg-success bg-opacity-75 p-1">
            <i class="bi-check2"> Выполнено</i>
        </span>
    {% elif item.days_plan.days > 6 %}
        <span class="badge text-bg-primary">
            {{ temp }}
        </span>
    {% elif item.days_plan.days > 2 %}
        <span class="badge text-bg-warning">
            {{ temp }}
        </span>
    {% elif item.days_plan.days %}
        <span class="badge text-bg-danger">
            {{ temp }}
        </span>
    {% else %}
        <span class="badge bg-secondary bg-opacity-75">
            Срок не задан
        </span>
    {% endif %}
{% endif %}