{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base page{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    {% comment %} <script async src="{% static 'my_js.js' %}" ></script> {% endcomment %}
</head>

<body style="max-width: 992px;" class="container">
    <nav class="d-flex">
        <a href="/" class="mx-1">Главная</a> | 
        <a href="{% url "list" model="projs" %}" class="mx-1">Проекты</a> | 
        <a href="{% url "list" model="sprints" %}" class="mx-1">Спринты</a> | 
        <a href="{% url "list" model="tasks" %}" class="mx-1">Задачи</a> | 
        <a href="/api/" class="mx-1">API</a> | 
        <a href="/admin/" class="mx-1">Администрирование</a>
        <div class="flex-grow-1"></div>
        {% if view.request.user.is_authenticated %}
            <span class="mx-1">{{ view.request.user.username }}:</span>
            <a href="{% url "login" %}" class="mx-1"
            title="Смена пользователя">
                Смена
            </a>|
            <a href="{% url "logout" %}" class="mx-1">
                Выход
            </a>
        {% else %}
            <a href="{% url "login" %}" class="mx-1">Вход</a>
        {% endif %}

    </nav>
    <hr>
    <h1>{% block header %}Base page{% endblock header %}</h1>
    {% block content %}{% endblock content %}
</body>

</html>