{% load poll_extras %}
{% my_g view.get_par as get_par %}

{% for btn in btn_max.split %}
    {% if btn == "back" %}
        <input 
        type=button 
        value="Назад" 
        class="btn btn-sm btn-outline-dark" 
        onClick="javascript:history.go(-1);"
        >
    {% endif %}
    {% if btn == "forw" %}
        <input 
        type=button 
        value="Вперёд" 
        class="btn btn-sm btn-outline-dark" 
        onClick="javascript:history.go(1);"
        >
    {% endif %}
    {% if btn == "items" %}
    <div class="btn-group">
        <a href="{% my_g get_par model "all" view.page_kwarg "1" %}"
        class="btn btn-sm btn-outline-secondary {% if model|add:"=all" in get_par  %}active{% endif %}">
            Показать всё
        </a>
        <a href="{% my_g get_par model "on" view.page_kwarg "1" %}"
        class="btn btn-sm btn-outline-secondary {% if model|add:"=on" in get_par %}active{% endif %}">
            Выполненные
        </a>
        <a href="{% my_g get_par model "off" view.page_kwarg "1" %}"
        class="btn btn-sm btn-outline-secondary {% if model|add:"=off" in get_par %}active{% endif %}">
            Не выполненные
        </a>
    </div>
    {% endif %}
    {% if btn == "index" %}
        <a href={% url "index" %} 
        class="btn btn-sm btn-outline-dark">
            На главную
        </a>
    {% endif %}
    {% if btn == "add" %}
        <a href={% url "add" model=model %}{% my_g "" view.kwargs.model pk %}
        class="btn btn-sm btn-outline-primary">
            Добавить
        </a>
    {% endif %}
    {% if btn == "edit" %}
        <a href={% url "oper" oper="edit" model=model pk=pk %}
        class="btn btn-sm btn-outline-success">
            Редактировать
        </a>
    {% endif %}
    {% if btn == "detail" and model != view.kwargs.model %}
        <a href={% url "detail" model=model pk=pk %}
        class="btn btn-sm btn-outline-dark">
            Просмотр
        </a>
    {% endif %}
    {% if btn == "delete" %}
        <a href={% url "oper" oper="delete" model=model pk=pk %} 
        class="btn btn-sm btn-outline-danger">
            Удалить
        </a>
    {% endif %}
    {% if btn == "cancel" %}
        <a href={% url "detail" model=model pk=pk %} 
        class="btn btn-sm btn-outline-dark">
            Отменить
        </a>
    {% endif %}
{% endfor %}

{% for btn in btn_min.split %}
    {% if btn == "edit" %}
        <a href={% url "oper" oper="edit" model=model pk=pk %} 
        class="btn btn-sm btn-outline-success"
        title="Редактировать">
            <i class="bi bi-pencil"></i>
        </a>
    {% endif %}
    {% if btn == "detail" %}
        <a href={% url "oper" oper="detail" model=model pk=pk %} 
        class="btn btn-sm btn-outline-dark"
        title="Просмотр">
            <i class="bi bi-eye"></i>
        </a>
    {% endif %}
    {% if btn == "delete" %}
        <a href={% url "oper" oper="delete" model=model pk=pk %} 
        class="btn btn-sm btn-outline-danger"
        title="Удалить">
            <i class="bi bi-trash"></i>
        </a>
    {% endif %}
    {% if btn == "no_ok" %}
        <i class="pe-none bi-circle btn btn-sm border-0 text-primary"
        title="НЕ выполнено"></i>
    {% endif %}
    {% if btn == "is_ok" %}
        <i class="pe-none bi-check-circle btn btn-sm border-0 text-success"
        title="Выполнено"></i>
    {% endif %}
    
{% endfor %}
