{% if buttons %}
    {% if "back" in buttons%}
        <input 
        type=button 
        value="Назад" 
        class="btn btn-sm btn-outline-dark" 
        onClick="javascript:history.go(-1);"
        >
    {% endif %}
    {% if "items" in buttons %}
    <div class="btn-group">
        <a href={% url "index" %}?f=all 
        class="btn btn-sm btn-outline-secondary">
            Показать всё
        </a>
        <a href={% url "index" %}?f=on 
        class="btn btn-sm btn-outline-secondary">
            Выполненные
        </a>
        <a href={% url "index" %}?f=off 
        class="btn btn-sm btn-outline-secondary">
            Не выполненные
        </a>
    </div>
    {% endif %}
    {% if "index" in buttons %}
        <a href={% url "index" %} 
        class="btn btn-sm btn-outline-dark">
            На главную
        </a>
    {% endif %}
    {% if "add" in buttons %}
        <a href={% url "add" model=model %} 
        class="btn btn-sm btn-outline-primary">
            Добавить
        </a>
    {% endif %}
    {% if "edit" in buttons %}
        <a href={% url "edit" model=model pk=pk %} 
        class="btn btn-sm btn-outline-success">
            Редактировать
        </a>
    {% endif %}
    {% if "detail" in buttons %}
        <a href={% url "detail" model=model pk=pk %} 
        class="btn btn-sm btn-outline-dark">
            Просмотр
        </a>
    {% endif %}
    {% if "delete" in buttons %}
        <a href={% url "delete" model=model pk=pk %} 
        class="btn btn-sm btn-outline-danger">
            Удалить
        </a>
    {% endif %}
{% endif %}
