<h2>Спринт</h2>
<div class="row mb-3">
{% for item in data %}
    <div class="col-2 text-end" title="{{view.fields.name.help_text}}">
        {{view.fields.name.verbose_name}}</div>
    <div class="col">{{ item.name }}</div>

    <div class="w-100"></div>

    <div class="col-2 text-end">{{view.fields.desc.verbose_name}}</div>
    <div class="col">{{ item.desc }}</div>

    <div class="w-100"></div>

    <div class="col-2 text-end border-bottom">{{view.fields.proj.verbose_name}}</div>
    <div class="col border-bottom">
    {% if item.proj %}
        <a href={% url "detail" model=view.fields.proj.related_model.META.url_name pk=item.proj.id %}
        class="btn btn-light w-100 border-0 text-start"
        title="Перейти к проекту">
            {{ item.proj.name }}
        </a>
    {% else %}
        <span class="pe-none btn border-0">Нет</span>
    {% endif %}
    </div>

    <div class="w-100"></div>

    <div class="col text-center border-end">{{view.fields.author.verbose_name}}</div>
    <div class="col text-center border-end">{{view.fields.date_beg.verbose_name}}</div>
    <div class="col text-center border-end">{{view.fields.date_end.verbose_name}}</div>
    <div class="col text-center border-end">План</div>
    <div class="col text-center">Осталось дней</div>

    <div class="w-100"></div>

    <div class="col text-center border-end">{{ item.author.username }}</div>
    <div class="col text-center border-end">{{ item.date_beg|date:"d.m.Y H:i" }}</div>
    <div class="col text-center border-end">{{ item.date_end|date:"d.m.Y H:i" }}</div>
    <div class="col text-center border-end">
        {{ item.date_plan|date:"d.m.Y H:i" }}<br>
        <p style="font-size: 0.8rem;" class="lh-1 m-0 text-start">
            Минимальное из<br>
            Проект {{ item.proj.date_max|date:"d.m.Y" }}<br>
            Спринт {{ item.date_max|date:"d.m.Y" }}
        </p>
    </div>
    <div class="col text-center">
        {% if item.date_end %}
        Завершено
        {% else %}
        {{ item.days_plan.days }}
        {% endif %}
    </div>

    <div class="w-100"></div>

    <div class="col">
        {% include "buttons.html" with btn_max="back add edit delete" model=view.url_name pk=item.id %}
    </div>
{% empty %}
    <div class="col">
        Нет спринта
        {% include "buttons.html" with btn_max="back add" model=view.url_name %}
    </div>
{% endfor %}
</div>

<hr>

