{% load poll_extras %}
{% if view.kwargs.oper == "edit" and view.kwargs.model == view.url_name %}
    {% firstof "edit" as oper %}
{% endif %}
{% my_add_list "" data as data %}

<h2>Проект</h2>
<form action="" method="post" class="row mb-3">
{% csrf_token %}
{% for item in data %}
    {# Название проекта #}
    <div class="col-2 text-end">
        <label class="{% if oper == "edit" %}fw-bold required{% endif %}" 
        for="id_{{ view.fld.name.name }}">
            {{view.fld.name.verbose_name}}
        <label>
    </div>
    <div class="col" title="{{view.fld.name.help_text}}">
    {% if oper == "edit" %}
        <input class="form-control"
        type="text" 
        name="{{ view.fld.name.name }}"
        value="{{ item.name }}"
        maxlength="{{ view.fld.name.max_length }}" 
        required
        placeholder="{{view.fld.name.help_text}}"
        id="id_{{ view.fld.name.name }}">
    {% else %}
        {{ item.name }}
    {% endif %}    
    </div>

    <div class="w-100"></div>

    {# Описание проекта #}
    <div class="col-2 text-end border-bottom">
        <label class="{% if oper == "edit" %}fw-bold required{% endif %}" 
        for="id_{{ view.fld.desc.name }}">
        {{view.fld.desc.verbose_name}}
        <label>
    </div>
    <div class="col border-bottom" title="{{view.fld.desc.help_text}}">
    {% if oper == "edit" %}
        <textarea class="form-control"
        rows="3"
        type="text" 
        name="{{ view.fld.desc.name }}"
        required
        placeholder="{{view.fld.desc.help_text}}"
        id="id_{{ view.fld.desc.name }}">{{ item.desc }}</textarea>
    {% else %}
        {{ item.desc }}
    {% endif %}
    </div>

    <div class="w-100"></div>

    {#  #}
    <div class="col text-center border-end">{{view.fld.author.verbose_name}}</div>
    {#  #}
    <div class="col text-center border-end">{{view.fld.date_beg.verbose_name}}</div>
    {# дата завершения - название #}
    <div class="col text-center border-end">
        <label for="id_{{ view.fld.date_end.name }}">
            {{view.fld.date_end.verbose_name}}
        </label>
    </div>
    {# Планируемая дата - название #}
    <div class="col text-center border-end">План</div>
    {#  #}
    <div class="col text-center">Осталось дней</div>

    <div class="w-100"></div>

    {#  #}
    <div class="col text-center border-end" title="{{view.fld.author.help_text}}">
        {{ item.author.username }}
    </div>
    {#  #}
    <div class="col text-center border-end" title="{{view.fld.date_beg.help_text}}">
        {{ item.date_beg|date:"d.m.Y" }}
    </div>
    {# дата завершения - данные #}
    <div class="col text-center border-end" title="{{view.fld.date_end.help_text}}">
    {% if oper == "edit" %}
        <input class="form-control"
        type="date" 
        name="{{ view.fld.date_end.name }}"
        value="{{ item.date_end|date:"Y-m-d" }}"
        placeholder="{{view.fld.date_end.help_text}}"
        id="id_{{ view.fld.date_end.name }}">
    {% else %}
        {{ item.date_end|date:"d.m.Y" }}
    {% endif %}
    </div>
    {# Планируемая дата - данные #}
    <div class="col text-center border-end" title="{{view.fld.date_max.help_text}}">
    {% if oper == "edit" %}
        <input class="form-control"
        type="date" 
        name="{{ view.fld.date_max.name }}"
        value="{{ item.date_max|date:"Y-m-d" }}"
        placeholder="{{view.fld.date_max.help_text}}"
        id="id_{{ view.fld.date_max.name }}">
    {% else %}
        {{ item.date_plan|date:"d.m.Y" }}<br>
    {% endif %}
    </div>
    {#  #}
    <div class="col text-center">
        {% if item.date_end %}
        Завершено
        {% else %}
        {{ item.days_plan.days }}
        {% endif %}
    </div>

    <div class="w-100"></div>

    {% if oper == "edit" %}
    <div class="col">
        <input type="submit" value="Сохранить" class="btn btn-primary mb-3">
    </div>
    <div class="w-100"></div>
    {% endif %}

    <div class="col">
        {% include "buttons.html" with btn_max="back add edit delete" model=view.url_name pk=item.id %}
    </div>
{% empty %}
    <div class="col">
        Нет проекта
        {% include "buttons.html" with btn_max="back add" model=view.url_name %}
    </div>
{% endfor %}

</form>




<hr>

