{% load poll_extras %}

{% my_hp data.0 as perms %}
{% my_hp data.0.proj as perms_p %}

{% if perms.edit and view.kwargs.oper == "edit" and view.kwargs.model == view.url_name %}
    {% firstof "edit" as oper %}
{% elif perms.add and view.kwargs.oper == "add" and view.kwargs.model == view.url_name %}
    {% firstof "add" as oper %}
    {% my_e "({'id':0},)" as data %}
{% elif perms.delete and view.kwargs.oper == "delete" and view.kwargs.model == view.url_name %}
    {% firstof "delete" as oper %}
{% else %}
    {% firstof "detail" as oper %}
{% endif %}

<div class="h2 align-self-center">
    Спринт
    {% if not view.kwargs.oper == "add" %}
    {% include "buttons.html" with btn_max="add" model=view.url_name pk=data.0.id %}
    {% endif %}
</div>

<form action="" method="post" class="row mb-3">
{% csrf_token %}
{% for item in data %}
    {# Название спринта #}
    <div class="col-2 text-end mb-1">
        <label class="{% if oper == "edit" or oper == "add" %}required{% endif %}" 
        for="id_{{ view.fld.name.name }}">
            {{view.fld.name.verbose_name}}
        </label>
    </div>
    <div class="col mb-1" title="{{view.fld.name.help_text}}">
    {% if oper == "edit" or oper == "add" %}
        <input class="form-control"
        type="text" 
        name="{{ view.fld.name.name }}"
        value="{{ item.name }}"
        maxlength="{{ view.fld.name.max_length }}" 
        required
        placeholder="{{view.fld.name.help_text}}"
        id="id_{{ view.fld.name.name }}">
    {% else %}
        {{ item.name }}
    {% endif %}    
    </div>

    <div class="w-100"></div>

    {# Описание спринта #}
    <div class="col-2 text-end mb-1">
        <label class="{% if oper == "edit" or oper == "add" %}required{% endif %}" 
        for="id_{{ view.fld.desc.name }}">
            {{view.fld.desc.verbose_name}}
        </label>
    </div>
    <div class="col mb-1" title="{{view.fld.desc.help_text}}">
    {% if oper == "edit" or oper == "add" %}
        <textarea class="form-control"
        rows="3"
        type="text" 
        name="{{ view.fld.desc.name }}"
        required
        placeholder="{{view.fld.desc.help_text}}"
        id="id_{{ view.fld.desc.name }}">{{ item.desc }}</textarea>
    {% else %}
        {{ item.desc }}
    {% endif %}
    </div>

    <div class="w-100"></div>

    {# Проект спринта #}
    <div class="col-2 text-end mb-1">
        <label class="{% if oper == "edit" or oper == "add" %}required{% endif %}" 
        for="id_{{ view.fld.proj.name }}">
            {{view.fld.proj.verbose_name}}
        </label>
    </div>
    <div class="col d-flex align-items-center mb-1" title="{{view.fld.proj.help_text}}">
    {% if oper == "edit" or oper == "add" %}
        <select class="form-select form-select-sm"
        name="{{ view.fld.proj.name }}"
        id="id_{{ view.fld.proj.name }}"
        title="Выбор проекта"
        required>
            <option value="" selected disabled>-----</option>
        {% for pr in view.projs %}
            <option value="{{ pr.id }}"
            {% if view.proj_id == pr.id or item.proj_id == pr.id %}selected{% endif %}
            >{{ pr }}
            </option>
        {% empty %}
            <option disabled>Проекты не найдены</option>
        {% endfor %}
        </select>
    {% else %}
        {% if item.proj %}
            {% with model_p=item.proj.META.url_name pk_p=item.proj.id %}
            <div>
                {% include "buttons.html" with btn_min="add edit" model=model_p pk=pk_p perms=perms_p %}
            </div>
            <a href={% url "detail" model=model_p pk=pk_p %}
            class="flex-grow-1 btn btn-light border-0 text-start mx-1"
            title="Перейти к проекту">
                {% include "badge.html" with item=item.proj %}
                {{ item.proj }}
            </a>
            <div>
                {% include "buttons.html" with btn_min="delete" model=model_p pk=pk_p perms=perms_p %}
            </div>
            {% endwith %}
        {% else %}
            <div>
                {% include "buttons.html" with btn_min="add" model=view.fld.proj.related_model.META.url_name perms=perms_p %}
            </div>
            <span class="pe-none btn border-0">Нет</span>
        {% endif %}
    {% endif %}
   </div>

    <div class="w-100"></div>

    {# автор - название #}
    <div class="col-2 text-center border-end border-top">
        {{view.fld.author.verbose_name}}
    </div>
    {# дата создания - название #}
    <div class="col-2 text-center border-end border-top">
        {{view.fld.date_beg.verbose_name}}
    </div>
    {# дата завершения - название #}
    <div class="col-3 text-center border-end border-top">
        <label for="id_{{ view.fld.date_end.name }}">
            {{view.fld.date_end.verbose_name}}
        </label>
    </div>
    {# Планируемая дата - название #}
    <div class="col-3 text-center border-end border-top">
        <label for="id_{{ view.fld.date_max.name }}">План</label>
    </div>
    {# Осталось дней - название #}
    <div class="col-2 text-center border-top">Срок</div>

    <div class="w-100"></div>

    {# автор - значение #}
    <div class="col-2 text-center border-end" title="{{view.fld.author.help_text}}">
    {% if oper == "add" %}
        <div class="btn btn-light border w-100 pe-none">
            {{ view.request.user.username|default:"-" }}
        </div>
    {% else %}
        {{ item.author.username }}
    {% endif %}
    </div>
    {# дата создания - данные #}
    <div class="col-2 text-center border-end" title="{{view.fld.date_beg.help_text}}">
    {% if oper == "add" %}
        <div class="btn  btn-light border w-100 pe-none">
            {% now "d.m.Y" %}
        </div>
    {% else %}
        {{ item.date_beg|date:"d.m.Y" }}
    {% endif %}
    </div>
    {# дата завершения - данные #}
    <div class="col-3 text-center border-end" title="{{view.fld.date_end.help_text}}">
    {% if oper == "edit" %}
        {% if view.is_no_end %}
        <span class="text-danger fw-bold">Есть невыполненные задачи.</span>
        {% else %}
        <input class="form-control"
        type="date" 
        name="{{ view.fld.date_end.name }}"
        value="{{ item.date_end|date:"Y-m-d" }}"
        id="id_{{ view.fld.date_end.name }}">
        {% endif %}
    {% else %}
        {{ item.date_end|date:"d.m.Y" }}<br>
    {% endif %}
        <p style="font-size: 0.8rem;"
        class="lh-1 m-0 text-start"
        title="Список последних дат">
            Дата не раньше {{ item.date_end_sprint|date:"d.m.Y" }}:
            <br>&nbsp;Спринт {{ item.date_beg|date:"d.m.Y" }}
            <br>&nbsp;Задачи {{ item.date_end_task|date:"d.m.Y" }}
        </p>
    </div>
    {# Планируемая дата - данные #}
    <div class="col-3 text-center border-end" title="{{view.fld.date_max.help_text}}">
    {% if oper == "edit" or oper == "add" %}
        <input class="form-control"
        type="date" 
        name="{{ view.fld.date_max.name }}"
        value="{{ item.date_max|date:"Y-m-d" }}"
        id="id_{{ view.fld.date_max.name }}">
    {% else %}
        {{ item.date_plan|date:"d.m.Y" }}<br>
    {% endif %}
    <p style="font-size: 0.8rem;" class="lh-1 m-0 text-start">
        Минимальная из:<br>
        Проект {{ item.proj.date_max|date:"d.m.Y" }}<br>
        Спринт {{ item.date_max|date:"d.m.Y" }}
    </p>
    </div>
    {# Осталось дней - данные #}
    <div class="col-2 text-center fs-5">
        {% include "badge.html" with item=item %}
    </div>

    <div class="w-100 mb-1"></div>

    {% if oper == "edit" or oper == "add" or oper == "delete"%}
    <div class="col d-flex justify-content-end align-items-center mb-1 mt-2">
    {% if oper == "delete" %}
        <div class="me-2 text-end">
            Будут удалены все задачи спринта
        </div>
    {% endif %} 
        <div class="me-3">
            {% include "buttons.html" with btn_max="back" %}
        </div>
        <input id="btn-sprint-submit"
        type="submit" 
        value=
        {% if oper == "edit" %}"Сохранить"
        {% elif oper == "delete" %}"Да, удалить"
        {% else %}"Создать"
        {% endif %} 
        class="btn 
            {% if oper == "edit" %}btn-success
            {% elif oper == "delete" %}btn-danger
            {% else %}btn-primary
            {% endif %}"
        >
    </div>
    <div class="w-100"></div>
    {% endif %}

    <div class="col">
        {% include "buttons.html" with btn_max="back detail edit delete" model=view.url_name pk=item.id %}
    </div>
{% empty %}
    <div class="col">
        Нет спринта
        {% include "buttons.html" with btn_max="back add" model=view.url_name %}
    </div>
{% endfor %}
</form>

<hr>

