<h2>Проект</h2>
<div class="row mb-3">
    <div class="col-2 text-end" title="{{view.fields.name.help_text}}">
        {{view.fields.name.verbose_name}}</div>
    <div class="col">{{ data.name }}</div>

    <div class="w-100"></div>

    <div class="col-2 text-end border-bottom">{{view.fields.desc.verbose_name}}</div>
    <div class="col border-bottom">{{ data.desc }}</div>

    <div class="w-100"></div>

    <div class="col text-center border-end">{{view.fields.author.verbose_name}}</div>
    <div class="col text-center border-end">{{view.fields.date_beg.verbose_name}}</div>
    <div class="col text-center border-end">{{view.fields.date_end.verbose_name}}</div>
    <div class="col text-center border-end">{{view.fields.date_max.verbose_name}}</div>
    <div class="col text-center">Осталось</div>

    <div class="w-100"></div>

    <div class="col text-center border-end">{{ data.author.username }}</div>
    <div class="col text-center border-end">{{ data.date_beg|date:"d.m.Y H:i" }}</div>
    <div class="col text-center border-end">{{ data.date_end|date:"d.m.Y H:i" }}</div>
    <div class="col text-center border-end">{{ data.date_max|date:"d.m.Y H:i" }}</div>
    <div class="col text-center">-|-</div>
</div>

{% include "buttons.html" with btn_max="back add edit delete" model=view.url_name pk=data.id %}
<hr>

