{% comment %} {% extends 'base.html' %} {% endcomment %}
{% comment %} {% block title %}Просмотр задачи{% endblock title %}
{% block header %}Просмотр задачи №{{ object.id }}{% endblock header %}

{% block content %} {% endcomment %}
<table border=1 cellspacing=1 width=100%>
    <thead>
        <tr>
            <th width=20%>Имя</th>
            <th>Значение</th>
        </tr>
    </thead>
    <tr>
        <td>Задача</td>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <td>Записана</td>
        <td class="bold">{{ object.date_beg|date:"d.m.Y H:i" }}</td>
    </tr>
    <tr>
        <td>Завершена</td>
        {% if object.chk_end %}
            <td class="bold">{{ object.date_end|date:"d.m.Y H:i" }}</td>
        {% else %}
            <td class="bold">Нет</td>
        {% endif %}
    </tr>
</table>

{% include "buttons.html" %}

{% comment %} {% endblock content %} {% endcomment %}
