{% extends 'base.html' %}
{% block title %}Список задач{% endblock title %}
{% block header %}Список задач{% endblock header %}

{% block content %}
<table class="table table-sm table-hover align-middle">
    <thead>
        <tr>
            <th colspan=3 width=1% class="text-center border-end">Действия</th>
            <th colspan=2 class="ps-3">Описание</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for item in context %}
        <tr>
            <td class="">
                <a href={% url "delete" item.id %} class="btn btn-sm btn-outline-danger">
                    <i class="bi-trash"></i>
                </a>
            </td>
            <td class="">
                <a href={% url "edit" item.id %} class="btn btn-sm btn-outline-success">
                    <i class="bi-pencil"></i>
                </a>
            </td>
            <td class="border-end">
                <a href={% url "detail" item.id %} class="btn btn-sm btn-outline-primary">
                    <i class="bi-eye"></i>
                </a>
            </td>
            <td width=1% class="ps-3">
                {% if item.date_end %}
                <i class="bi-check-circle"></i>
                {% else %}
                <i class="bi-circle"></i>
                {% endif %}
            </td>
            <td class="">
                {{ item.id }}. {{ item.name }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "buttons.html" %}

<ul>
    <li>
        <i style="pointer-events: none;"
        class="bi-check-circle btn btn-sm btn-outline border-0">
        </i> - выполнено
    </li>
    <li>        
        <i style="pointer-events: none;"
        class="bi-circle btn btn-sm btn-outline border-0">
        </i> - не выполнено
    </li>
    <li>
        <i style="pointer-events: none;"
        class="bi-eye btn btn-sm btn-outline-primary">
        </i> - детальный просмотр</li>
    <li>
        <i style="pointer-events: none;"
        class="bi-pencil btn btn-sm btn-outline-success">
        </i> - редактировать
    </li>
    <li>
        <i style="pointer-events: none;"
        class="bi-trash btn btn-sm btn-outline-danger">
        </i> - удалить
    </li>
</ul>

{% endblock content %}