<h2>История выполнения задачи</h2>
<table class="table table-sm table-hover align-middle">
    {% comment %} <thead>
        <tr>
            <th class="text-center p-0">
                <i class="pe-none bi-pencil btn btn-sm border-0"></i>
            </th>
            <th class="text-center">
                {{ data.0.title }}
            </th>
            <th class="text-center p-0">
                <i class="pe-none bi-trash btn btn-sm border-0"></i>
            </th>
        </tr>
    </thead> {% endcomment %}
    <tbody class="">
        {% for item in data %}
        <tr>
            {% comment %} <td width=1% class="">
                <a href={% url "edit" model=view.url_name pk=item.id %} class="btn btn-sm btn-outline-success">
                    <i class="bi-pencil"></i>
                </a>
            </td> {% endcomment %}
            {% comment %} <td width=1% class="">
                {{ item.date_end|date:"d.m.Y" }}
            </td> {% endcomment %}
            <td class="p-0">
                <a href={% url "detail" model=view.url_name pk=item.id %} 
                class="btn btn-sm fs-6 w-100 border-0 text-start">
                    {% if item.date_end %}
                    <i class="bi-check-circle"></i>
                    {% else %}
                    <i class="bi-circle"></i>
                    {% endif %}
                    {{ item.name }}
                </a>
            </td>
            {% comment %} <td width=1% class="">
                <a href={% url "delete" model=view.url_name pk=item.id %} class="btn btn-sm btn-outline-danger">
                    <i class="bi-trash"></i>
                </a>
            </td> {% endcomment %}
        </tr>
        {% endfor %}
    </tbody>
</table>
