<h2>История выполнения задачи</h2>
<table class="table table-sm table-hover align-middle">
    {% comment %} <thead>
    <tr>
        <th>{{view.fields.desc.verbose_name}}</th>
    </tr>
    </thead> {% endcomment %}
    <tbody>
    {% for item in data %}
    <tr>
        <td>
            <span class="fw-bold">
                {{ item.date_end|date:"d.m.Y H:i" }} - {{ item.user.username }}
            </span>
            <br>
            {{ item.desc }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
