<div class="row">
    <div class="h2 align-self-center col-3 col-sm-2">Задачи</div>
    <div class="align-self-center col">
        {% include "buttons.html" with btn_max="items add" model=view.url_name get_par=view.get_par %}
</div>
</div>
<table class="table table-sm table-hover align-middle">
    <tbody>
    {% for item in data %}
    <tr>
        <td width=1%>
            {% include "buttons.html" with btn_min="edit" model=view.url_name pk=item.id %}
        </td>
        <td>
            <a href={% url "detail" model=view.url_name pk=item.id %}
            class="btn btn-light w-100 border-0 text-start"
            title="Подробнее о задаче">
                {% if item.date_end %}
                    {% include "buttons.html" with btn_min="is_ok" %}
                {% else %}
                    {% include "buttons.html" with btn_min="no_ok" %}
                {% endif %}
                {{ item.name }}
            </a>
        </td>
        <td width=1%>
            {% include "buttons.html" with btn_min="delete" model=view.url_name pk=item.id %}
        </td>
    </tr>
    {% empty %}
        <span class="pe-none btn border-0">Нет задач</span>
    {% endfor %}
    </tbody>
</table>

{% include "paginate.html" %}