<div class="row">
    <div class="h2 align-self-center col-4 col-sm-3">
        Задачи<br>
        {% include "paginate.html" %}
    </div>
    <div class="align-self-center col">
        {% include "buttons.html" with btn_max="items add" model=view.url_name pk=view.kwargs.pk %}
    </div>
</div>

<table class="table table-sm table-hover align-middle">
    <tbody>
    {% for item in data %}
    {% comment %} {{ item|json_script:view.url_name|add:item.id }} {% endcomment %}
    <tr>
        <td width=1%>
            {% include "buttons.html" with btn_min="edit" model=view.url_name pk=item.id %}
        </td>
        <td>
            <a href={% url "detail" model=view.url_name pk=item.id %}
            class="btn btn-light w-100 border-0 text-start"
            title="Перейти к задаче">
                {% if item.date_end %}
                    <span class="badge bg-success bg-opacity-50 p-1">
                        <i class="bi-check2"></i>
                    </span>
                {% elif item.days_plan.days > 6 %}
                    <span class="badge text-bg-primary">
                        {{ item.days_plan.days }}
                    </span>
                {% elif item.days_plan.days > 2 %}
                    <span class="badge text-bg-warning">
                        {{ item.days_plan.days }}
                    </span>
                {% elif item.days_plan.days %}
                    <span class="badge text-bg-danger">
                        {{ item.days_plan.days }}
                    </span>
                {% else %}
                    <span class="badge bg-secondary bg-opacity-50">
                        &nbsp;&nbsp;
                    </span>
                {% endif %}
                {{ item.name }}
            </a>
        </td>
        <td width=1%>
            {% include "buttons.html" with btn_min="delete" model=view.url_name pk=item.id %}
        </td>
    </tr>
    {% empty %}
        <span class="pe-none btn border-0">Нет задач</span>
    {% endfor %}
    </tbody>
</table>
