{% load poll_extras %}
{% my_hp "" as perms %}

<div class="row">
    {# заголовок #}
    <div class="h2 align-self-center col-4 col-sm-3">
        Задачи
        {% if not view.kwargs.oper == "add" %}
        {% include "buttons.html" with btn_max="add" model=view.url_name pk=view.kwargs.pk %}
        {% endif %}
        <div class="w-100 my-1"></div>
        {% include "paginate.html" %}
    </div>
    {# кнопки фильтров #}
    <div class="align-self-center col">
        {% if view.request.user.is_authenticated %}
        {% include "buttons.html" with btn_max="items users" %}
        {% else %}
        {% include "buttons.html" with btn_max="items" %}
        {% endif %}
    </div>
</div>

<table class="table table-sm align-middle">
    <tbody>
    {% for item in data %}

    {# основная задача #}
    {% my_hp item as perms %}
    <tr>
        <td width=1%>
            {% include "buttons.html" with btn_min="edit" model=view.url_name pk=item.id %}
        </td>
        <td>
            <a href={% url "detail" model=view.url_name pk=item.id %}
            class="btn w-100 btn-light border-0 text-start"
            title="Перейти к задаче">
                {% include "badge.html" with item=item %}
                {{ item }}
            </a>
        </td>
        <td width=1%>
            {% include "buttons.html" with btn_min="delete" model=view.url_name pk=item.id %}
        </td>
    </tr>

    {# если есть родительская задача #}
    {% if item.parent %}
    {% my_hp item.parent as perms %}
    <tr>
        <td width=1%>
            {% include "buttons.html" with btn_min="edit" model=view.url_name pk=item.parent.id %}
        </td>
        <td class="d-flex">
            <i class="bi bi-arrow-return-right fs-5"></i>
            <a href={% url "detail" model=view.url_name pk=item.parent.id %}
            class="btn btn-light border-0 text-start flex-grow-1"
            title="Перейти к задаче">
                <b>{{ view.fld.parent.verbose_name }}</b>
                {% include "badge.html" with item=item.parent %}
                {{ item.parent }}
            </a>
        </td>
        <td width=1%>
            {% include "buttons.html" with btn_min="delete" model=view.url_name pk=item.parent.id %}
        </td>
    </tr>
    {% endif %}

    {% empty %}
        <span class="pe-none btn border-0">Нет задач</span>
    {% endfor %}
    </tbody>
</table>
